{% load bootstrap4 %}

      <div id="{{formset.prefix}}-container">
      {% bootstrap_formset formset layout='horizontal' %}
      </div>
      <a href="#" id="add-{{formset.prefix}}-button" class="btn btn-info add-item">Agregar más</a>
      
    
    <!--- Agregar más comienzo -->
      <script type="text/html" id="{{formset.prefix}}-template">
      <div id="item-__prefix__">
          {% bootstrap_form formset.empty_form layout='horizontal' %}
      </div>
      </script>
      
    <script>
    $(document).ready(function() {
        $('#add-{{formset.prefix}}-button').click(function(ev) {
            ev.preventDefault();
            var count = $('#id_{{formset.prefix}}-TOTAL_FORMS').attr('value');
            var tmplMarkup = $('#{{formset.prefix}}-template').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
            $('div#{{formset.prefix}}-container').append(compiledTmpl);

            // update form count
            $('#id_{{formset.prefix}}-TOTAL_FORMS').attr('value', count+1);

            // some animate to scroll to view our new form
            $('html, body').animate({
                    scrollTop: $("#add-{{formset.prefix}}-button").position().top-200
                }, 800);
        });
    });
    </script>
    <!--- Agregar más fin -->