.card {
    margin: 20px 0 20px;
}

#form-nav-sections {
    position: fixed;
}

.scrollspy-example {
  position: relative;
}

/*Bienvenido*/
h1 {
  text-align:center;
  font-family: "Montserrat";
  font-weight:200;
  color:#feb61e;
}

/*links*/
a {
  font-family: "Montserrat";
  font-weight:500;
}

.add-item:hover {
  background-color:#c0c6d1;
  border-color:white;
}

/*Bajada titulo*/

p{
  padding-left:0px;
  text-align:center;
  font-family: "Montserrat";
  font-weight:400;
  font-size:20px;
  color:#626c7d;
  margin-bottom:20px;
}

/*Titulos secciones*/

h5 {
  font-family: "Montserrat";
  font-size:28px;
  font-weight:1000;
  margin-top:30px;
  margin-bottom:30px;
  color:#626c7d;
}

/*Etiquetas de campos*/

label{
  margin-left: 0px;
  font-family: "Montserrat";
  font-weight:500;
  color:#626c7d;
}

.custom-file-label{
  font-size:12px;
  font-weight:400;
}

.custom-file{
  padding-bottom:70px;
}

/*diagramacion*/

.row {
  margin-left: 0;
  margin-right: 0;
}

/*formulario*/

.form-control {
   background-color: #fff;
   border-radius: 0.20rem;
   font-family: "Montserrat";
   font-size:14px;
   color:#626c7d;
   padding-left:10px;
   padding-right:10px;
   font-weight: 100;
   margin-bottom:40px;
   border: 1.5px solid #626c7d;
}

/*checkbox*/

.form-check {
  padding-left:20px;
  border-radius: 10rem;
  margin-bottom:40px;
  margin-top:0px;
}

/*botoncitos*/

.btn{
  font-family: "Montserrat"
  font-size:14px;
  color: white;
  border-color: #F9B903;
  background-color:#F9B903;
  padding-left:20px;
  padding-right:20px;
  font-weight:500;
  margin:0;
}

.btn-primary:hover{
  background-color:#c0c6d1;
  border-color:white;
}

.custom-switch {
  padding-left:20px;
}

/*columnas*/

.col-12 {
margin-left:0px;
margin-right:0px;
padding-left:0px;
}

.col-md-8 {
padding-left:70px;
}

/*Scrollspy*/

.list-group-item.active{
border-color: #F9B903;
background-color:#F9B903;
}

/*Info boxes*/

#id_judiciary_records-0-date{
  margin-bottom:10px;
}

#id_judiciary_records-0-kind{
  margin-bottom:10px;
}

#id_judiciary_records-0-number{
  margin-bottom:10px;
}

#id_judiciary_records-0-result{
  margin-bottom:0px;
}

#id_educational_records-0-name{
  margin-bottom:0px;
}

#id_educational_records-0-institution{
  margin-bottom:0px;
}

#id_educational_records-0-start{margin-bottom:0px;
}

#id_work_records-0-name{
  margin-bottom:0px;
}

#id_work_records-0-institution{
  margin-bottom:0px;
}

#id_work_records-0-start{
  margin-bottom:0px;
}

#id_patrimony_doc{
  margin-bottom:30px;
}

#id_work_records-0-end{
  margin-bottom:0px;
}

#id_educational_records-0-end{
  margin-bottom:0px;
}

#id_image{
  margin-bottom:15px;
}

#id_political_proposal_doc{
  margin-bottom:30px;

}

#id_interests_doc{
  margin-bottom:30px;
}

#id_benefits_doc{
  margin-bottom:30px;
}

#id_eth_001_doc{
  margin-bottom:30px;
}

#id_eth_002_doc{
  margin-bottom:30px;
}

#id_eth_172_doc{
  margin-bottom:30px;
}

@media screen and (max-width: 1080px)
{
.col-2 {
   display:none;
  }

.col-md-8 {
padding-left:20px;
padding-right:20px;
}

}
