main {
  padding: 4rem;
}

.table td, .table th{
  padding-left:50px;
  padding-right:70px;
}
/*BOTONES*/

.btn-primary {
    color:white;
    background-color: #eab300;
    border-color: #eab300;
    margin-top: 15px;
    padding-left:20px;
    padding-right:20px;
}

.btn-primary:hover {
    background-color: #c0c6d1;
    border-color: #c0c6d1;
    margin-top: 15px;
}

/*LINKS*/

.navbar {
  padding-left:50px;
}

.nav-link {
  color:#b3b3b3;
  font-family:"Montserrat";
  font-size:14px;
}

.nav-link:hover {
  color:#eab300;
  font-family:"Montserrat";
  font-size:14px;
}

a{
  color:#8892a2;
  font-family:"Montserrat";
  font-size:15px;
  font-weight:600;

}

a:hover{
  color:#eab300;
  font-fmily:"Montserrat";
  font-size:14px;
  font-weight:600;

}
/*BG-HERO*/

.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top:50px;
}

.bgimage {
  width:100%;
  height:300px;
  background: url('http://atlaspolitico.com.br/img/bg-ranking.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  margin-right: -100%;
  position: relative;
  opacity: 1;
  display: block;
  z-index: 2;

}
.bgimage h5 {
  color:white;
  font-family:"Montserrat";
  text-shadow:2px 2px #333;
  padding-left: 50px;
  padding-right:20px;
  font-size: 40px;
}

.bgimage p {
  color:white;
  font-family:"Montserrat";
  padding-left: 50px;
  font-size: 20px;
  font-weight: 400;
}

.img-fluid{
  border-radius:5px;
}

.table td, .table th {
  padding-top:20px;
  padding-bottom:20px;
  font-family:"Montserrat";
  color:#8892a2;
}
