{% extends 'base.html' %}

{% block container %}
<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>Índice de Transparencia de parlamentarios</p>
        <h5>sobre losotrohs</h5>
        <h5>about ush</h5>
      </div>
    </div>
  </div>
</section>
{% endblock container %}
