
{% load analytical %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% analytical_head_top %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block meta %}
    <meta name="description" content="Índice de transparencia Panamá">
    <meta name="keywords" content="Panamá, Transparencia, Indice">
    <meta name="author" content="">
    <title>Índice de Transparencia Panamá</title>
    {% endblock meta %}

      <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600" rel="stylesheet">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    {% comment %}
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    {% block extrajs %}
    {% endblock extrajs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block extracss %}
    {% endblock extracss %}
    <link rel="stylesheet" href='{% static "css/main.css" %}'>
    <!-- endbuild -->
    {% analytical_head_bottom %}
  </head>

  <body {% block extra_body_attrs%}{% endblock extra_body_attrs %}>
    {% analytical_body_top %}
      {% block navbar %}
      <nav class="navbar navbar-expand-md  bg-dark fixed-top">
          <a class="navbar-brand" href='{% url "index" %}'><img src="{% static "images/logo-espacio-civico.png" %}"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url "index" %}">Inicio <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "ranking" %}">Índice de Transparencia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "about" %}">Nosotros</a>
              </li>
              {% if debug %}
                <li class="nav-item">
                  <a class="nav-link" href="">dev mode: ON, last commit is:  </a>
                </li>
              {% endif %}
            </ul>

          <!-- BOTON DE BÚSQUEDA
          <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Búsqueda avanzada" aria-label="Search">
          <button class="btn btn-yellow my-2 my-sm-0" type="submit">Buscar</button> </form>
          -->

          </div>
        </nav>

        {% endblock navbar %}

         <main role="main" class="container-fluid">

                {% block container %}

                {% endblock container%}

         </main>
{% block extra_end_js %}

{% endblock extra_end_js %}
{% analytical_body_bottom %}
  </body>



</html>
