{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap4 %}
{% load static %}


{% block container %}



<div class="row">
  <h5> {{person.name}} </h5>
  <div class='col-3'>
    <img src="{% if person.image %}{{ person.image.url }}{% else %}{% static "images/person_icon.png" %}{% endif %}"  class="img-thumbnail">
  </div>
</div>

<div class="row">
  <h4> partido: {{person.party}} </h4>
  <div class='col-3'>
    <img src="{% if person.party.image %}{{ person.party.image.url }}{% else %} no logo{% endif %}"  class="img-thumbnail">
  </div>
</div>
{% endblock container %}
