{% extends 'base.html' %}
{% load staticfiles %}
{% block container %}

<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>Índice de Transparencia de parlamentarios</p>
        <h5>La participación ciudadana maximiza la rendición de cuentas de nuestros políticos</h5>

        <p><a href="#" class="btn btn-primary btn-large">Botoncito CTA</a></p>
      </div>
    </div>
  </div>
</section>
<section id=tabla-index>
          <table class="table table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>Nombre</th>
              <th>Partido</th>
              <th>Circuito</th>
              <th>Nota</th>
            </tr>
          </thead>
          <tbody>
        {% for person in persons %}
           <tr>
             <td>{{forloop.counter}}</td>
           <td><a href="{{ person.get_absolute_url }}">
             <div class="col-md-1 px-0">
                  <img src="{% if person.image %}{{ person.image.url }}{% else %}{% static "images/person_icon.png" %}{% endif %}" class="img-fluid">
             </div>
              {{person.name }} </a></td>
           <td>{{ person.party }}</td>
           <td>{{ person.circuit }}</td>
           <td>{{ person.mark }}</td>
           </tr>
        {% endfor %}
          </tbody>
        </table>
</section>
{% endblock container %}
