{% extends 'base.html' %}
{% load staticfiles %}

{% block container %}

<section class="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>Índice de Transparencia de parlamentarios</p>
        
        <form action="" method="get">
            {{ filter.form.as_p }}
            <input type="submit" />
        </form>
        
        <table class="table table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>Nombre</th>
              <th>Partido</th>
              <th>Circuito</th>
              <th>Nota</th>
            </tr>
          </thead>
          <tbody>
        {% for person in filter.qs %}
           <tr>
             <td>{{forloop.counter}}</td>
           <td><a href="{{ person.get_absolute_url }}">
             <div class="col-md-1 px-0">
                  <img src="{% if person.image %}{{ person.image.url }}{% else %}{% static "images/person_icon.png" %}{% endif %}" class="img-fluid">
             </div>
              {{person.name }} </a></td>
           <td>{{ person.party }}</td>
           <td>{{ person.circuit }}</td>
           <td>{{ person.ranking_mark }}</td>
           </tr>
        {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock container %}
